<% include partials/header %>
  <section id="video" class="bg-primary">
      <div id="videoDiv" class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <div class="section-heading">
                      <h2>O seu treino funcional com ECONOMIA e SEGURANÇA</h2>
                      <p class="text-muted">Veja só o que você pode fazer com a Alltleta !</p>
                  </div>
              </div>
          </div>
          <div id="videoPlayer" align="center" class="row video-container">
              <iframe width="458" height="252" src="https://www.youtube.com/embed/QxeqVKbgn14?&autoplay=1" frameborder="0" allowfullscreen>
              </iframe>
          </div>
      </div>
  </section>
  <section id="features" class="features">
      <div class="container">

          <div class="row">
              <div class="col-md-4">
                  <div class="device-container">
                      <div class="device-mockup iphone6_plus portrait white">
                          <div class="device">
                              <div class="screen">
                                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                  <img src="img/home2.png" class="img-responsive" alt="Aplicativo alltleta para treinamento funcional"> </div>
                              <div class="button">
                                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="feature-item">
                                  <img src="img/location.png" id="loc" alt="location icon">
                                  <h3>Treinos Próximos</h3>
                                  <p class="text-muted">Encontre um grupo de treino funcional perto de você.</p>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="feature-item">
                                  <img src="img/credit.png"  alt="credit card icon">
                                  <h3>Pagamento Fácil</h3>
                                  <p class="text-muted">Com a Alltleta, você agenda e paga sua aula pelo próprio aplicativo.</p>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="feature-item">
                                  <img src="img/alltleta_icon.png"  alt="alltleta logo">
                                  <h3>Profissionais Qualificados</h3>
                                  <p class="text-muted"> Treine com Personais qualificados e avialie cada aula.
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="feature-item">
                                  <img src="img/camera.png"  alt="camera icon">
                                  <h3>Compartilhe Seu Treino</h3>
                                  <p class="text-muted"> Mostre para os amigos onde você treina e publique fotos! </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  </section>

<% include partials/footer %>
