<% include partials/header %>

<div class="background-sucess container">
  <div class="padding-sucess">
      <h1 id="h1-sucess">Parabens!!!</h1>
      <h3 id="h3-sucess">Sua aula foi marcada com sucesso!</h3>
      <div id="list-sucess">
        <p> Nao esqueca de:
          <ul>
            <li>Usar protetor solar</li>
            <li>Beber Agua</li>
            <li>Usar Roupas Leves</li>
            <li>Alimentar-se bem</li>
          </ul>
        </p>
    </div>
    <div class="">
      <p><a class="btn btn-primary" id="confButton" href="#" role="button">Voltar para Pagina Inicial</a></p>
    </div>
  </div>
</div>

<% include partials/footer %>
